// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin image-with-2x($image,$image2x) {
  background-image: image-url($image);
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: image-url($image2x);
  }
}

body{
  background-color: #ecf0f1;
}

#map{
  display: block;
  width: 612px;
  height: 612px;
  padding: 0;

  position: relative;
  float: left;
}

#players{
  height: 612px;
  width: 288px;
  float: right;

  box-sizing: border-box;

  padding:10px 10px 10px 20px;
}

.container{
  width: 900px;
  height: 612px;
  position: fixed;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mapImage{
  width: 612px;
  height: 612px;

  position: absolute;
  top: 0;
  left: 0;
}

.chess, .star{
  position: absolute;
  width: 29px;
  height: 29px;
}

.chess{
  display: block;
  transition-property: top, left;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.star{
  display: none;
}

.player{
  width: 100%;
  height: 120px;
  position: relative;

  &.blue{
    background-color: #2980b9;
    &[data-active="true"]{
      background-color: #3498db;
      box-shadow: 0 0 10px #3498db;
    }
    .name-input input[type="text"]{
      color: #3498db;
    }
  }

  &.yellow{
    background-color: #f39c12;
    &[data-active="true"]{
      background-color: #f1c40f;
      box-shadow: 0 0 10px #f1c40f;
    }
    .name-input input[type="text"]{
      color: #f1c40f;
    }
  }

  &.green{
    background-color: #27ae60;
    &[data-active="true"]{
      background-color: #2ecc71;
      box-shadow: 0 0 10px #2ecc71;
    }
    .name-input input[type="text"]{
      color: #2ecc71;
    }
  }

  &.red{
    background-color: #c0392b;
    &[data-active="true"]{
      background-color: #e74c3c;
      box-shadow: 0 0 10px #e74c3c;
    }
    .name-input input[type="text"]{
      color: #e74c3c;
    }
  }

  &:not(:first-child){
    margin-top: 37px;
  }

  &:after{
    display: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    color: white;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
  }

  &[data-state="choosing"]:after{
    display: block;
    content: "Choose me";
    bottom: 45px;
  }

  &[data-state="typing"]:after{
    display: block;
    content: "Typing name";
    bottom: 45px;
  }

  &[data-state="roll"]:after{
    display: block;
    content: "Click to roll";
    bottom: 20px;
  }

  &[data-state="ready"]:after{
    display: block;
    content: "Ready";
    bottom: 20px;
  }

  &[data-state="input"]:after{
    display: block;
    content: "Done";
    bottom: 20px;
  }

  &[data-state="input"], &[data-state="choosing"], &[data-state="typing"], &[data-state="ready"]{
    .dice{
      display: none;
    }
  }

  &[data-state="roll"], &[data-state="wait"]{
    .dice{
      @include image-with-2x("Dice0.png","Dice0@2x.png");
    }
  }
}

@-webkit-keyframes rotating{
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.name-box{
  height: 50px;
  padding: 0 10px;

  .name-input input[type="text"]{
    display: none;

    outline: 0;

    background-color: white;
    padding: 5px 15px;
    border-radius: 30px;
    border: none;

    font-weight: 100;
    font-size: 17px;

    position: relative;
    top: 10px;

    box-sizing: border-box;
    width: 100%;

    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

  .name-display{
    display: block;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    position: relative;
    top: 10px;
    font-size: 24px;
  }

}

.player[data-state="input"] .name-box{
  input[type="text"]{
    display: block;
  }
  .name-display{
    display: none;
  }
}

.dice-box{
  height: 70px;
  width:100%;
  position: relative;
}

.dice{
  display: block;
  position: absolute;
  top: 10px;

  left: 50%;
  margin-left: -25px;

  width: 50px;
  height: 50px;

  &[data-face="1"]{
    @include image-with-2x("Dice1.png","Dice1@2x.png");
  }

  &[data-face="2"]{
    @include image-with-2x("Dice2.png","Dice2@2x.png");
  }

  &[data-face="3"]{
    @include image-with-2x("Dice3.png","Dice3@2x.png");
  }

  &[data-face="4"]{
    @include image-with-2x("Dice4.png","Dice4@2x.png");
  }

  &[data-face="5"]{
    @include image-with-2x("Dice5.png","Dice5@2x.png");
  }

  &[data-face="6"]{
    @include image-with-2x("Dice6.png","Dice6@2x.png");
  }

  &[data-rotate="true"]{
    @include image-with-2x("Dice6.png","Dice6@2x.png");
    -webkit-animation: rotating .5s linear infinite;
    -moz-animation: rotating .5s linear infinite;
    -ms-animation: rotating .5s linear infinite;
    -o-animation: rotating .5s linear infinite;
    animation: rotating .5s linear infinite;
  }
}

div.meta{
  display:none;
}
